
<script type='text/javascript' src='/static/plugins/ep_narration/static/js/popcorn/popcorn.min.js'></script>
<script type='text/javascript' src='/static/plugins/ep_narration/static/js/popcorn/popcorn.player.min.js'></script>
<script type='text/javascript' src='/static/plugins/ep_narration/static/js/popcorn/popcorn.code.min.js'></script>
<script type='text/javascript' src='/static/plugins/ep_narration/static/js/popcorn/popcorn.soundcloud.min.js'></script>

<script type='text/javascript' src="//connect.soundcloud.com/sdk.js"></script>
<script type='text/javascript' src='/static/plugins/ep_narration/static/js/narration.js'></script>
