<div id='soundCloudTopContainer'>
  <div id="soundcloud-loading-placeholder" style="padding-bottom:20px;">
    <BR><BR>Loading <A class="soundcloud-url" HREF="#" target="_blank">audio player</A> from Soundcloud...
  </div>
</div>

